:root{
  --bg-accent-1: #6b5bff22;
  --bg-accent-2: #8c78ff18;
}

body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #f3f6fb;
  /* notepad + pencil illustration + layered gradients */
  background-image: url('https://thumbs.dreamstime.com/b/happy-cartoon-pencil-notepad-10795254.jpg');
                    
  /* background-size: 35% auto, 140% 140%, 140% 140%, 100% 100%;
  background-position: right bottom, 0% 0%, 100% 100%, 0% 0%;
  background-repeat: no-repeat; */
 } 