@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3f6fb;
}